<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
  <add name="cadena_conexion" connectionString="Data Source=(localdb)\DBMajes;Initial Catalog=DBSISTEMA_VENTA;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
  <add name="CapaPresentacion.Properties.Settings.cn" connectionString="Data Source=(localdb)\DBMajes;Initial Catalog=DBSISTEMA_VENTA;Integrated Security=True;Encrypt=False"
   providerName="Microsoft.Data.SqlClient" />
 </connectionStrings>
</configuration>
